DD_API_KEY=dummy
DD_APP_KEY=dummy
RUM_APPLICATION_ID=dummy
RUM_CLIENT_TOKEN=dummy
DD_ENV=${DD_ENV}
DD_HOSTNAME=${DD_ENV}-host
FRONTEND_VERSION=1.0.0
NEXT_PUBLIC_DD_ENV=${DD_ENV}
STOREDOG_URL=http://service-proxy:80
PUPPETEER_LOOP=once
PUPPETEER_SESSION_TYPES=browsing
