# For local development, set these manually using a trial or dogfood account

DD_API_KEY=
DD_APP_KEY=
NEXT_PUBLIC_DD_APPLICATION_ID= # Only needed if using RUM
NEXT_PUBLIC_CLIENT_TOKEN= # Only needed if using RUM

FRONTEND_BUILD_TARGET=development # Change this to production if you want to test the production build for the frontend container (while using the docker-compose.dev.yml file)