# Docker Compose Environment Variables

# Core Datadog Configuration
DD_API_KEY=${DD_API_KEY}
DD_APP_KEY=${DD_APP_KEY}
DD_HOSTNAME=${INSTRUQT_TRACK_SLUG}-host
DD_ENV=${INSTRUQT_TRACK_SLUG}
# If the -dev messes up screenshots, export TRACK_SLUG from setup-lab-host and use for DD_ENV

# Frontend Configuration
DD_ENV_FRONTEND=${FRONTEND_ENV}
FRONTEND_VERSION=${FRONTEND_VERSION}
DD_SITE=datadoghq.com
# RUM Configuration is added by the configure-rum script. 

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Puppeteer Configuration
PUPPETEER_TIMEOUT=30000
PUPPETEER_URL=http://service-proxy:80

ENABLE_SSL=${ENABLE_SSL}