name: Ads - Java

on:
  push:
    branches: [ main ]
    paths:
      - services/ads/java/**
  workflow_dispatch:
    branches: [ main, ccole/add-creds-to-unset ]

defaults:
  run:
    working-directory: ads

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.6.0

    - name: Unset AWS credentials 2
      uses: aws-actions/configure-aws-credentials@v4
      with:
        unset-current-credentials: true
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
        aws-region: us-east-1

    - name: Login to ECR
      id: login-ecr
      uses: docker/login-action@v2.2.0
      with:
        registry: public.ecr.aws
        username: ${{ secrets.AWS_ACCESS_KEY_ID }}
        password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: ./services/ads/java
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ secrets.PUBLIC_ECR_REGISTRY }}/storedog/ads-java:latest

